<div class="layui-row layui-col-space15">
	<div class="layui-col-md6">
		<div class="layui-card">
			<div class="layui-card-header">系统信息</div>
			<div class="layui-card-body">				
				<table class="layui-table" lay-skin="nob">
					<colgroup>
						<col width="160">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<td>服务器环境</td>
							<td><?php $os = explode(" ", php_uname()); echo $os[0].' '; if('/'==DIRECTORY_SEPARATOR){echo $os[2];}else{echo $os[1];} ?>/ <?php echo $_SERVER['SERVER_SOFTWARE'];?></td>
						</tr>
						<tr>
							<td>PHP/MySql版本</td>
							<td>PHP {:phpversion()} / MySql 5.6.25</td>
						</tr>
						<tr>
							<td>ThinkPHP版本</td>
							<td>{:App::version()}</td>
						</tr>
						<tr>
							<td>服务器域名/IP地址</td>
							<td><?php echo @get_current_user();?> - <?php echo $_SERVER['SERVER_NAME'];?>(<?php if('/'==DIRECTORY_SEPARATOR){echo $_SERVER['SERVER_ADDR'];}else{echo @gethostbyname($_SERVER['SERVER_NAME']);} ?>)</td>
						</tr>
						<tr>
							<td>服务器当前时间</td>
							<td><span id="stime"><?php echo date('Y-m-d H:i:s');?></span></td>
						</tr>
						<tr>
							<td style="vertical-align: top;">已编译模块</td>
							<td style="word-break:break-all;word-wrap:break-word;"><?php
								$able=get_loaded_extensions();
								foreach ($able as $key=>$value) {
									if ($key!=0 && $key%13==0) {
										echo '<br />';
									}
									echo "$value&nbsp;&nbsp;";
								}
								?></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="layui-col-md6" >
		<div class="layui-card">
			<div class="layui-card-header">产品信息</div>
			<div class="layui-card-body">
				<table class="layui-table" lay-skin="nob">
					<colgroup>
						<col width="160">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<td>产品名称</td>
							<td>{:Config('site.WEB_TITLE')}管理系统</td>
						</tr>
						<tr>
							<td>官方网站</td>
							<td><a href="http://www.sssui.com" target="_blank" rel="noreferrer">http://www.sssui.com</a></td>
						</tr>
						<tr>
							<td>联系我们</td>
							<td><a href="mailto:service@hisiphp.com" target="_blank" rel="noreferrer">liqiankun@zphjr.com</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>