<style>
    .abs{position: absolute;}
    .scroll{height: 100%;overflow: scroll;}
    /* 两列右侧自适应布局 */
    .main{margin:0 0 10px;}
    .left{position:relative;float:left;width:240px;margin-right:-240px;}
    .right{float:right;width:100%;}
    .right .body{margin-left:250px;}
    .layui-card-header .layui-btn-group{position: absolute;right: 0;}
    .layui-card-header .layui-btn-group .layui-icon{line-height: inherit;}
</style>
<div class="layui-card">
	<div class="layui-card-header">
		<a href="{:Request()->url()}"><i class="layui-icon layui-icon-left"></i></a>
		<span class="layui-breadcrumb">
			<a><cite>后台</cite></a>
			<a href="__APP__/{$Request.controller}/index.html"><cite>数据采集</cite></a>
			<a><cite>执行采集任务</cite></a>
        </span>
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm" id="startBtn">开始</button>
            <button type="button" class="layui-btn layui-btn-sm" id="addArticle">处理文章</button>
        </div>
	</div>
	<div class="layui-card-body">
        <div class="main abs">
            <div class="left scroll">
                <ul class="layui-nav layui-nav-tree" style="width:100%;" id="list_url">
                    
                </ul>
            </div>
            <div class="right">
                <div class="body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="80">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>采集标题</th>
                                <th>发布</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>人生就像是一场修行</td>
                                <td>no</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
        <div class="console abs">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">工作记录</li>
                    <li>发送代码</li>
                    <li>返回数据</li>
                    <li>失败记录</li>
                </ul>
                <div class="layui-tab-content page-tab-content">
                    <div class="layui-tab-item layui-show"></div>
                    <div class="layui-tab-item"></div>
                    <div class="layui-tab-item"></div>
                    <div class="layui-tab-item"></div>
                </div>
            </div>
        </div>
	</div>
</div>
<script>
	layui.use(['jquery'],function(){
        var $ = layui.jquery;
        $('.layui-card-body').css('height',$(window).height()-112).css('position','relative');
        $('.main').css({top:0,bottom:'150px',left:0,right:0});
        $('.console').css({bottom:0,height:'150px',left:0,right:0});
        var work_id = {$Request.param.id};
        var getListItem = function (i){
            if(!i){
                if($('#list_url li a.layui-this').length!=0){
                    i = $('#list_url li a.layui-this').attr('index');
                }else{
                    i=0;
                }
            }
            $('#list_url li a').removeClass('layui-this');
            $('#list_url li a[index='+i+']').addClass('layui-this');
            $.post('/Caiji/getListItem.html',{ url: $('#list_url li a.layui-this').attr('href'),id:work_id},function (data) {

            },'json');
        }
        var getListUrl = function (){
            $.ajax({
                url:"/Caiji/getListUrl.html?id="+work_id,
                success:function (data, textStatus, jqXHR) {
                    $(data).each(function(k,v){
                        $('#list_url').append('<li class="layui-nav-item"><a href="javascript:;" index="'+k+'">'+v+'</a></li>');
                    });
                    $('#startBtn').on('click',function(){
                        getListItem();
                    });
                },
                dataType:'json'
            });
        }
        getListUrl();
	});
</script>
