layui.define(['element', 'form'], function(exports) {
    var $ = layui.jquery,element = layui.element, layer = layui.layer, form = layui.form;
 
    SPT = "--请选择省份--";
    SCT = "--请选择城市--";
    SAT = "--请选择地区--";
    ShowT = 1; //提示文字 0:不显示 1:显示
    PCAD ="{$data}";
    if (ShowT) PCAD = SPT + "$" + SCT + "," + SAT + "#" + PCAD;
    PCAArea = [];
    PCAP = [];
    PCAC = [];
    PCAA = [];
    PCAN = PCAD.split("#");
    for (i = 0; i < PCAN.length; i++) {
        PCAA[i] = [];
        TArea = PCAN[i].split("$")[1].split("|");
        for (j = 0; j < TArea.length; j++) {
            PCAA[i][j] = TArea[j].split(",");
            if (PCAA[i][j].length == 1) PCAA[i][j][1] = SAT;
            TArea[j] = TArea[j].split(",")[0]
        }
        PCAArea[i] = PCAN[i].split("$")[0] + "," + TArea.join(",");
        PCAP[i] = PCAArea[i].split(",")[0];
        PCAC[i] = PCAArea[i].split(',')
    }
    function PCAS() {
        this.SelP = document.getElementsByName(arguments[0])[0];
        this.SelC = document.getElementsByName(arguments[1])[0];
        this.SelA = document.getElementsByName(arguments[2])[0];
        this.DefP = this.SelA ? arguments[3] : arguments[2];
        this.DefC = this.SelA ? arguments[4] : arguments[3];
        this.DefA = this.SelA ? arguments[5] : arguments[4];
        this.SelP.PCA = this;
        this.SelC.PCA = this;
        var _that = this;
        form.on('select('+arguments[0]+')',function(){
            PCAS.SetC(_that)            
        })
        if (this.SelA) {
            form.on('select('+arguments[1]+')',function(){
                PCAS.SetA(_that)
            })
        }
        PCAS.SetP(this)
    };
    PCAS.SetP = function (PCA) {
        for (i = 0; i < PCAP.length; i++) {
            PCAPT = PCAPV = PCAP[i];
            if (PCAPT == SPT) PCAPV = "";
            PCA.SelP.options.add(new Option(PCAPT, PCAPV));
            if (PCA.DefP == PCAPV) PCA.SelP[i].selected = true
        }
        form.render('select',arguments[0]);
        PCAS.SetC(PCA)
    };
    PCAS.SetC = function (PCA) {
        PI = PCA.SelP.selectedIndex;
        PCA.SelC.length = 0;
        for (i = 1; i < PCAC[PI].length; i++) {
            PCACT = PCACV = PCAC[PI][i];
            if (PCACT == SCT) PCACV = "";
            PCA.SelC.options.add(new Option(PCACT, PCACV));
            if (PCA.DefC == PCACV) PCA.SelC[i - 1].selected = true
        }
        form.render('select',arguments[1]);
        if (PCA.SelA) PCAS.SetA(PCA)
    };
    PCAS.SetA = function (PCA) {
        PI = PCA.SelP.selectedIndex;
        CI = PCA.SelC.selectedIndex;
        PCA.SelA.length = 0;
        for (i = 1; i < PCAA[PI][CI].length; i++) {
            PCAAT = PCAAV = PCAA[PI][CI][i];
            if (PCAAT == SAT) PCAAV = "";
            PCA.SelA.options.add(new Option(PCAAT, PCAAV));
            if (PCA.DefA == PCAAV) PCA.SelA[i - 1].selected = true
        }
        form.render('select',arguments[2]);
    }
    exports('PCASClass', PCAS);
});
//-->