<script>
    layui.use(['layedit', 'form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layedit = layui.layedit;
        layedit.set({
            //暴露layupload参数设置接口 --详细查看layupload参数说明
            uploadImage: {
                url: '{:url("index/upload/upimage")}',
                accept: 'image',
                acceptMime: 'image/*',
                exts: 'jpg|png|gif|bmp|jpeg',
                size: '10240'
            }, 				
            uploadVideo: {
                url: '{:url("index/upload/upvideo")}',
                accept: 'video',
                acceptMime: 'video/*',
                exts: 'mp4|flv|avi|rm|rmvb',
                size: 1024 * 10 * 2,
                done: function (data) {
                    console.log(data);
                }
            },
            calldel: {
                url: '/Attachment/DeleteFile'
            }
            //插入代码设置
            , codeConfig: {
                hide: true,  //是否显示编码语言选择框
                default: 'javascript' //hide为true时的默认语言格式
            }
            , tool: [
                'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
                , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'images', 'video','anchors'
            ]
            , height: '{$height|default='90%'}',
            /*beforeSetContent:ubb2html,
            beforeGetContent:html2ubb,*/
        });
        var ieditor = layedit.build('content');
        form.verify({
            content: function(value) { 
                return layedit.sync(ieditor);
            }
        });
    })
</script>