{Data:article name="User" id="request" var="vo"}

<div class="layui-card">
	<div class="layui-card-header">
		{if condition="Request()->Action() neq 'index'"}
			<a href="{:Request()->url()}"><i class="layui-icon layui-icon-left"></i></a>
			<span class="layui-breadcrumb">
				<a><cite>后台</cite></a>
				<a href="__APP__/{$Request.controller}/index.html"><cite>{$Request.controller|getControllerTitle}</cite></a>
				<a><cite>编辑</cite></a>
			</span>
		{/if}
	</div>
	<div class="layui-card-body">
		<form action="{:Request()->url()}" class="child-form page-list-form layui-form layui-form-pane" method="post">
			<div class="layui-form-item">
				<label class="layui-form-label">用户类型</label>
				<div class="layui-input-inline input-6x">
					{html:select name="user_type" options=":LinkageList('UserType')" first="--用户类型--" dataType='*'/}
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="account" value="{$vo.account}" autocomplete="off" placeholder="请填写用户名" {neq name=":request()->action()" value="add"}readonly{/neq} />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密 码</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="password" value="{$vo.password}" autocomplete="off" placeholder="请填写密码" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">昵称</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="nickname" value="{$vo.nickname}" autocomplete="off" placeholder="请填写昵称" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别</label>
				<div class="layui-input-inline input-6x">
					<input type="radio" class="field-default" name="sex" value="1" title="男" >
					<input type="radio" class="field-default" name="sex" value="2" title="女">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">生日</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="birthday" id="birthday" value="" autocomplete="off" placeholder="请填写出生日期" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">地址</label>
				<div class="layui-input-inline input-6x" style="width:620px;">								
					<div class="layui-inline"><select name="province" id="province"></select></div>
					<div class="layui-inline"><select name="city" id="city"></select></div>
					<div class="layui-inline"><select name="district" id="district"></select></div>
					<input type="text" class="layui-input" name="address" value="{$vo.address}" autocomplete="off" placeholder="请填写详细地址" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电话</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="phone" value="{$vo.phone}" autocomplete="off" placeholder="请填写电话号码" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">QQ</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="qq" value="{$vo.qq}" autocomplete="off" placeholder="请填写QQ号码" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">身份证</label>
				<div class="layui-input-inline input-6x">
					<input type="text" class="layui-input" name="cardnum" value="{$vo.cardnum}" autocomplete="off" placeholder="请填写身份证号码" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">个人介绍</label>
				<div class="layui-input-inline input-6x">
					<textarea name="aboutme" class="layui-textarea" placeholder="请填写标题" ></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">备  注</label>
				<div class="layui-input-inline input-6x">
					<textarea name="remark" class="layui-textarea" placeholder="请填写标题" ></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-inline input-6x">
					<input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="启用|禁用"  >
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-inline input-6x">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">提交</button>
				</div>
			</div>
			<input type="hidden" name="id" value="{$vo.id}" />
		</form>
	</div>
</div>
<script type="text/html" id="Editvo">
	{if condition="Request()->Action() eq 'edit'"}
	{Data:article name="User" id="request" var="vo"}
	{else /}
	{assing name="vo[]" value="" /}
	{/if}
	{$vo|json_encode}
</script>
<script>
	function FilterEditVo(vo){
		layui.use('PCASClass',function(){
			new layui.PCASClass("province","city","district",vo.province,vo.city,vo.district);
		});
	}
	layui.use('laydate',function(){
		layui.laydate.render({
		  elem: '#birthday' //指定元素
		});
	});
</script>
